<p><%= comment.content %></p>
<p><%= link_to "link", comment_url(comment) %></p>
<p>by <%= link_to comment.author_username, user_url(comment.author) %></p>
<ul>
<% comment.child_comments.each do |comment| %>
  <li><%= render "comments/comment", comment: comment %></li>
<% end %>
</ul>
