<div>
  <div ng-repeat="sub in subs">
    <h3><a ng-href="#!/subs/{{ sub.id }}">{{ sub.title }}</a></h3>
    <p>{{ sub.description }}</p>
  </div>
</div>

<form ng-submit="addSub()" style="margin-top:30px">
  <h3>Add a new sub</h3>

  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Title"
           ng-model="title"></input>
  </div>
  <div class="form-group">
    <input type="text"
           class="form-control"
           placeholder="Description"
           ng-model="description"></input>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
